{% extends 'template1.html' %}
<!-- FOR CLARITY PURPOSE -->
{% block Title %} Signup {% endblock %}
<!-- FOR CLARITY PURPOSE -->
{% block bodyTitle %} Signup {% endblock %}
<!-- FOR CLARITY PURPOSE -->
{% block subTitle %} Create an account {% endblock %}
<!-- FOR CLARITY PURPOSE -->
{% block body %}
<div class="loginMainBlock">
  <form class="loginMainBox" method="POST" action="/signup">
    <div class="loginInputBox">
      <label class="loginInputStyles">
        Enter name
      </label>
      <center>
        <input type="text" class="loginInput" name="name" />
      </center>
    </div>
    <div class="loginInputBox">
      <label class="loginInputStyles">
        Email
      </label>
      <center>
        <input type="text" class="loginInput" name="email" />
      </center>
    </div>
    <div class="loginInputBox">
      <label class="loginInputStyles">
        Password
      </label>
      <center>
        <input type="password" class="loginInput" name="password" />
      </center>
    </div>
    <div class="loginInputBox">
      <label class="loginInputStyles">
        Secret question
      </label>
      <center>
        <input type="text" class="loginInput" name="question" />
      </center>
    </div>
    <div class="loginInputBox">
      <label class="loginInputStyles">
        Secret answer
      </label>
      <center>
        <input type="text" class="loginInput" name="answer" />
      </center>
    </div>
    <button class="newProjectButton" type="submit">
      Signup
    </button>
  </form>
</div>
{% endblock %}
